* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}  
    
p {
  font-size: 17px;
}
th {
  color:red
}
td {
  color: blue;
}

span {
  font-weight: bold;
  color: #2f86d6;
}

.tr_preco {
  height: 30px;
}


.container_cab {
  width: 100%;
  height: 150px;
  background-color: rgb(230, 227, 227);
  padding: 35px 50px; 
  display: flex;
}

.container_cab img {
  max-width: 300px;
}

.div_cab {    
  text-align: left;
  color: blue;
  margin-left: 20px;
}

.div_cab2 {
  padding-left:40%;
}

.container_cab a {
  font-size: 20px;
  color: #233032;
  text-decoration: none;
  font-weight: 600;
  padding: 25px;        
}

/*1º corpo azul claro */
.container_corpo_azul {
  width: 100%;
  margin: 0 auto;
  background-color: #2f86d6;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.container_corpo_azul img {
  width: 500px;
  height: auto;
  padding-top: 8%;
}

.div_corpo {  
  width:500px;
  text-align: center;
  line-height: 40px;
  font-size: 14px; 
  padding-top: 8%;
}
/*FIM 1º corpo azul claro*/

/*corpo cinza com link */
.container_corpo_cinza {
  background-color: #233032;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link_cinza a {
    background-color: #2f86d6;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: flex;
    border-radius: 30%;
    font-weight: bold;   
    margin: 30px;
}

.container_cinza_texto {
  text-align: left;
  color: #fff;
  padding-top: 2%;
   
}
/*corpo cinza com link */

/*container branco com FLEX */
.container_corpo_branco {
  background-color: #fff;
  height: 700px;
  color: black;
  line-height: 30px;  
}


.container_branco_titulo {
  padding: 2%;
  text-align: center;
  line-height: 60px;
  padding-right: 13%;
}

.container_branco_tabela {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.branco_tabela {
  width: 400px;  
}

/*FIM container branco com FLEX */

/*container TABELA */
.container_tabela {
  height: 800px;
  text-align: center; 
  position: absolute; 
  left: 15%;
  padding: 20px;
  padding-top: 3%;
  bottom: 60px; 
}

.tabela-com-sombra {
  box-shadow: 16px 16px 16px 16px #2f86d6;
  width: 1200px;
  height: 600px;
  line-height: 30px;
  position: relative;
  text-align: center;
  padding: 5%;
  left: 15%;
  top: 5%;
}

.div_titulo {
  text-align: center;
  padding-top: 0%;
  padding-bottom: 6% ;
}
/*FIM container TABELA */


.div_titulo_preco {
  text-align: center;
  padding-top: 0%;
  padding-bottom: 6% ;
}
/* FIM TABELA PREÇO */

/*link azul */
.container_azul {
  background-color: #2f86d6;
  height: 130px;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container_link_azul a {
  background-color: #233032;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  text-align: center;
  display: flex;
  border-radius: 30%;
  font-weight: bold;   
  margin: 30px;
}

.link_azul_texto {
  text-align: left;
  color: #fff;
  height: 15px;
  padding-top: 2%;
}
/*link azul*/

/*RODAPE*/

.rodape {
height: 150px;
padding: 1%;
display: flex;
justify-content: center;
}

.rodape img {
width: 100px;
text-align: center;
display: flex;
}

.rodape_titulo {
display: flex;
left: 21%;
padding: 0.5%;
flex-direction: column;
}

.rodape p {
font-size: 14px;
text-align: center;  
display: flex;
flex-direction: column;
}
/*FIM RODAPE*/

